<!-- Jumbotron 'saved' -->
<div class="row">
    <div class="jumbotron text-center">
        <h3>Saved Articles</h3>
    </div>
</div>

<!-- Main container -->
<div class="container">
  {{#if results}}
      <div class="row">
          {{#each results}}
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-6">
                                  <a href="{{this.url}}"><h3 class="panel-title pull-left">{{this.title}}</h3></a>
                              </div>
                              <div class="col-xs-3">
                                <button id="modalbutton" type="submit" class="btn btn-default pull-right" data-toggle="modal" data-target="#noteModal" data-id={{this.id}}>Add Note</button>
                              </div>
                              <div class="col-xs-3">
                                <form action="/delete/{{this.id}}" method="POST">
                                  <button type="submit" class="btn btn-default pull-right">Delete</button>
                                </form>
                              </div>
                          </div>
                      </div>
                      <div class="panel-body">
                          <p>{{this.blurb}}</p>
                      </div>
                  </div>
              </div>
          {{/each}}
      </div>
  {{/if}}
</div>

<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="deletenote" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Notes for Article <span id="articleID"></span></h4>
      </div>
      <div class="modal-body">
        <div id="notes">

        </div>
        {{!-- <form action="/articles" method="post">
            <div class="form-group">
                <label for="comment">Note:</label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Write your note here"></textarea>              
            </div>
            <button id="btnSave" type="submit" class="btn btn-primary">Save</button>           
        </form> --}}
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!--  -->
<script>
  var thisId;
$("#modalbutton").on("click", function() {
  // Empty the notes from the note section
  $("#notes").empty();
  // Save the id from the button tag
  var thisId = $(this).attr("data-id");
  $("#articleID").text(thisId);
  // Now make an ajax call for the Article
  $.ajax({
    method: "GET",
    url: "/articles/" + thisId
  })
    // With that done, add the note information to the page
    .done(function(data) {
      console.log(data);
      // Placeholder for notes
      $("#notes").append("<p id='actualnotes'></p>");
      if (data.notes) {
        $("#actualnotes").append("<ul id='notelist'>");
          for (var i = 0; i < data.notes.length; i++) {
            $('#notelist').append("<li id='" + data.notes[i]._id + "'>" + data.notes[i].body + " " +
            "<button data-id='" + data.notes[i]._id +
            "' id='deletenote'>x</button></li>");
          }
        $('#actualnotes').append("</ul>");
      } else {
        $('#actualnotes').text("Your new notes will be displayed here");
      }


      // A textarea to add a new note body
      $("#notes").append("<textarea class='form-control' id='bodyinput' name='body'></textarea>");
      // A button to submit a new note, with the id of the article saved to it
      $("#notes").append("<button data-id='" + data._id + "' id='savenote'>Save Note</button>");
    });
});
// When you click the savenote button
$(document).on("click", "#savenote", function() {
  // Grab the id associated with the article from the submit button
  var id = $(this).attr("data-id");
  console.log(id);
  var obj = $("#bodyinput").val("");
  //console logs out the note from the body of the note
  console.log(obj);
  // Run a POST request to change the note, using what's entered in the inputs
  $.ajax({
    method: "POST",
    url: "/articles/" + id,
    data: [{
      // Value taken from note textarea
      body: obj
    }],
    success: function(data){
      console.log(data);
      $("#notelist").empty();
    }
  })
  // Also, remove the values entered in the input and textarea for note entry
  $("#bodyinput").val("");
});
// When you click the deletenote button
$(document).on("click", "#deletenote", function() {
  // Grab the id associated with the note
  var thisId = $(this).attr("data-id");
  // Run a POST request to delete the note
  $.ajax({
    method: "GET",
    url: "/notes/" + thisId,
  })
    // With that done
    .done(function(data) {
      $("#" + data._id).remove();
    });
});
</script>